<a href="https://colab.research.google.com/github/koreaithw/javaadv/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Pandas - 판다스는 데이터 프레임과 시리즈 라는 자료형과 데이터 분석을 위한 다양한 
#             기능을 제공한다. 


# 데이터 분석의 시작은 데이터 불러오기

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('gapminder.tsv', sep='\t')

# 판다스로 읽어온 파일은 기본적으로 data frame 으로 가져온다.

In [ ]:
df.head() # 위에서 5개만 보기

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df.tail() # 끝에서 5개만 보기

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
type(df) # 자료형 확인

pandas.core.frame.DataFrame

In [ ]:
df.shape #데이터 구조보기

(1704, 6)

In [ ]:
df. columns  # 열 즉 피처값 확인

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
# 판다스와 파이썬 자료형 비교

                # 파이썬            판다스
                # String             object 
                # int                  int64
                # float               float64
                # datetime         datetime64

                                    #  Dataframe

In [ ]:
# 열단위 추출

# 1개의 열만 추출하면 시리즈를 얻게 되고 2개 이상의 열을 추출하게되면
# 데이터프레임으로 얻게 된다. 

country_series = df['country']

type(country_series)

pandas.core.series.Series

In [ ]:
subset = df[['country','continent','year']]
type(subset)

pandas.core.frame.DataFrame

In [ ]:
# 행단위 추출
#loc 
print(df.loc[0])
# 괄호안에 인덱스값을 넣어주면 행 전체의 데이터를 추출할수 있디ㅏ.
print(df.loc[100])
#iloc
print(df.loc[1703])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
country      Bangladesh
continent          Asia
year               1972
lifeExp          45.252
pop            70759295
gdpPercap    630.233627
Name: 100, dtype: object
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [ ]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
df.shape[0]-1

1703

In [ ]:
df.tail(n=1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
df.loc[[0,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [ ]:
# iloc로 행 추출하기  
# loc는 데이터 프레임의 인덱스 번호를 사용하여 추출
# iloc 는 데이터 순서를 의미하는 행번호를 사용한다. 

df.iloc[-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [ ]:
df.iloc[[0,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [ ]:
# 슬라이싱

df.loc[:,['year','pop']]

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [ ]:
df.iloc[: , [2,4,-1]]

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [ ]:
# 행은 전체 열은 country continent year lifeExp pop 만 추출하는데
# range를 꼭 사용하세요

print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(len(df)):
  print(df.loc[i,['country','continent','year','lifeExp','pop']])

스트리밍 출력 내용이 길어서 마지막 5000줄이 삭제되었습니다.
pop          3086876
Name: 870, dtype: object
country      Lebanon
continent       Asia
year            1987
lifeExp       67.926
pop          3089353
Name: 871, dtype: object
country      Lebanon
continent       Asia
year            1992
lifeExp       69.292
pop          3219994
Name: 872, dtype: object
country      Lebanon
continent       Asia
year            1997
lifeExp       70.265
pop          3430388
Name: 873, dtype: object
country      Lebanon
continent       Asia
year            2002
lifeExp       71.028
pop          3677780
Name: 874, dtype: object
country      Lebanon
continent       Asia
year            2007
lifeExp       71.993
pop          3921278
Name: 875, dtype: object
country      Lesotho
continent     Africa
year            1952
lifeExp       42.138
pop           748747
Name: 876, dtype: object
country      Lesotho
continent     Africa
year            1957
lifeExp       45.047
pop           813338
Name: 877, dtype: object
country      Lesotho
continent     Africa
year            1962
lifeExp       47.747
pop           893143
Name: 878, dtype: object
country      Lesotho
continent     Africa
year            1967
lifeExp       48.492
pop           996380
Name: 879, dtype: object
country      Lesotho
continent     Africa
year            1972
lifeExp       49.767
pop          1116779
Name: 880, dtype: object
country      Lesotho
continent     Africa
year            1977
lifeExp       52.208
pop          1251524
Name: 881, dtype: object
country      Lesotho
continent     Africa
year            1982
lifeExp       55.078
pop          1411807
Name: 882, dtype: object
country      Lesotho
continent     Africa
year            1987
lifeExp        57.18
pop          1599200
Name: 883, dtype: object
country      Lesotho
continent     Africa
year            1992
lifeExp       59.685
pop          1803195
Name: 884, dtype: object
country      Lesotho
continent     Africa
year            1997
lifeExp       55.558
pop          1982823
Name: 885, dtype: object
country      Lesotho
continent     Africa
year            2002
lifeExp       44.593
pop          2046772
Name: 886, dtype: object
country      Lesotho
continent     Africa
year            2007
lifeExp       42.592
pop          2012649
Name: 887, dtype: object
country      Liberia
continent     Africa
year            1952
lifeExp        38.48
pop           863308
Name: 888, dtype: object
country      Liberia
continent     Africa
year            1957
lifeExp       39.486
pop           975950
Name: 889, dtype: object
country      Liberia
continent     Africa
year            1962
lifeExp       40.502
pop          1112796
Name: 890, dtype: object
country      Liberia
continent     Africa
year            1967
lifeExp       41.536
pop          1279406
Name: 891, dtype: object
country      Liberia
continent     Africa
year            1972
lifeExp       42.614
pop          1482628
Name: 892, dtype: object
country      Liberia
continent     Africa
year            1977
lifeExp       43.764
pop          1703617
Name: 893, dtype: object
country      Liberia
continent     Africa
year            1982
lifeExp       44.852
pop          1956875
Name: 894, dtype: object
country      Liberia
continent     Africa
year            1987
lifeExp       46.027
pop          2269414
Name: 895, dtype: object
country      Liberia
continent     Africa
year            1992
lifeExp       40.802
pop          1912974
Name: 896, dtype: object
country      Liberia
continent     Africa
year            1997
lifeExp       42.221
pop          2200725
Name: 897, dtype: object
country      Liberia
continent     Africa
year            2002
lifeExp       43.753
pop          2814651
Name: 898, dtype: object
country      Liberia
continent     Africa
year            2007
lifeExp       45.678
pop          3193942
Name: 899, dtype: object
country        Libya
continent     Africa
year            1952
lifeExp       42.723
pop          1019729
Name: 900, dtype: object
country        Libya
continent     Africa
year            1957
lifeExp       45.289
pop          1201578
Name: 901, dtype: object
country        Libya
continent     Africa
year            1962
lifeExp       47.808
pop          1441863
Name: 902, dtype: object
country        Libya
continent     Africa
year            1967
lifeExp       50.227
pop          1759224
Name: 903, dtype: object
country        Libya
continent     Africa
year            1972
lifeExp       52.773
pop          2183877
Name: 904, dtype: object
country        Libya
continent     Africa
year            1977
lifeExp       57.442
pop          2721783
Name: 905, dtype: object
country        Libya
continent     Africa
year            1982
lifeExp       62.155
pop          3344074
Name: 906, dtype: object
country        Libya
continent     Africa
year            1987
lifeExp       66.234
pop          3799845
Name: 907, dtype: object
country        Libya
continent     Africa
year            1992
lifeExp       68.755
pop          4364501
Name: 908, dtype: object
country        Libya
continent     Africa
year            1997
lifeExp       71.555
pop          4759670
Name: 909, dtype: object
country        Libya
continent     Africa
year            2002
lifeExp       72.737
pop          5368585
Name: 910, dtype: object
country        Libya
continent     Africa
year            2007
lifeExp       73.952
pop          6036914
Name: 911, dtype: object
country      Madagascar
continent        Africa
year               1952
lifeExp          36.681
pop             4762912
Name: 912, dtype: object
country      Madagascar
continent        Africa
year               1957
lifeExp          38.865
pop             5181679
Name: 913, dtype: object
country      Madagascar
continent        Africa
year               1962
lifeExp          40.848
pop             5703324
Name: 914, dtype: object
country      Madagascar
continent        Africa
year               1967
lifeExp          42.881
pop             6334556
Name: 915, dtype: object
country      Madagascar
continent        Africa
year               1972
lifeExp          44.851
pop             7082430
Name: 916, dtype: object
country      Madagascar
continent        Africa
year               1977
lifeExp          46.881
pop             8007166
Name: 917, dtype: object
country      Madagascar
continent        Africa
year               1982
lifeExp          48.969
pop             9171477
Name: 918, dtype: object
country      Madagascar
continent        Africa
year               1987
lifeExp           49.35
pop            10568642
Name: 919, dtype: object
country      Madagascar
continent        Africa
year               1992
lifeExp          52.214
pop            12210395
Name: 920, dtype: object
country      Madagascar
continent        Africa
year               1997
lifeExp          54.978
pop            14165114
Name: 921, dtype: object
country      Madagascar
continent        Africa
year               2002
lifeExp          57.286
pop            16473477
Name: 922, dtype: object
country      Madagascar
continent        Africa
year               2007
lifeExp          59.443
pop            19167654
Name: 923, dtype: object
country       Malawi
continent     Africa
year            1952
lifeExp       36.256
pop          2917802
Name: 924, dtype: object
country       Malawi
continent     Africa
year            1957
lifeExp       37.207
pop          3221238
Name: 925, dtype: object
country       Malawi
continent     Africa
year            1962
lifeExp        38.41
pop          3628608
Name: 926, dtype: object
country       Malawi
continent     Africa
year            1967
lifeExp       39.487
pop          4147252
Name: 927, dtype: object
country       Malawi
continent     Africa
year            1972
lifeExp       41.766
pop          4730997
Name: 928, dtype: object
country       Malawi
continent     Africa
year            1977
lifeExp       43.767
pop          5637246
Name: 929, dtype: object
country       Malawi
continent     Africa
year            1982
lifeExp       45.642
pop          6502825
Name: 930, dtype: object
country       Malawi
continent     Africa
year            1987
lifeExp       47.457
pop          7824747
Name: 931, dtype: object
country        Malawi
continent      Africa
year             1992
lifeExp         49.42
pop          10014249
Name: 932, dtype: object
country        Malawi
continent      Africa
year             1997
lifeExp        47.495
pop          10419991
Name: 933, dtype: object
country        Malawi
continent      Africa
year             2002
lifeExp        45.009
pop          11824495
Name: 934, dtype: object
country        Malawi
continent      Africa
year             2007
lifeExp        48.303
pop          13327079
Name: 935, dtype: object
country      Malaysia
continent        Asia
year             1952
lifeExp        48.463
pop           6748378
Name: 936, dtype: object
country      Malaysia
continent        Asia
year             1957
lifeExp        52.102
pop           7739235
Name: 937, dtype: object
country      Malaysia
continent        Asia
year             1962
lifeExp        55.737
pop           8906385
Name: 938, dtype: object
country      Malaysia
continent        Asia
year             1967
lifeExp        59.371
pop          10154878
Name: 939, dtype: object
country      Malaysia
continent        Asia
year             1972
lifeExp         63.01
pop          11441462
Name: 940, dtype: object
country      Malaysia
continent        Asia
year             1977
lifeExp        65.256
pop          12845381
Name: 941, dtype: object
country      Malaysia
continent        Asia
year             1982
lifeExp          68.0
pop          14441916
Name: 942, dtype: object
country      Malaysia
continent        Asia
year             1987
lifeExp          69.5
pop          16331785
Name: 943, dtype: object
country      Malaysia
continent        Asia
year             1992
lifeExp        70.693
pop          18319502
Name: 944, dtype: object
country      Malaysia
continent        Asia
year             1997
lifeExp        71.938
pop          20476091
Name: 945, dtype: object
country      Malaysia
continent        Asia
year             2002
lifeExp        73.044
pop          22662365
Name: 946, dtype: object
country      Malaysia
continent        Asia
year             2007
lifeExp        74.241
pop          24821286
Name: 947, dtype: object
country         Mali
continent     Africa
year            1952
lifeExp       33.685
pop          3838168
Name: 948, dtype: object
country         Mali
continent     Africa
year            1957
lifeExp       35.307
pop          4241884
Name: 949, dtype: object
country         Mali
continent     Africa
year            1962
lifeExp       36.936
pop          4690372
Name: 950, dtype: object
country         Mali
continent     Africa
year            1967
lifeExp       38.487
pop          5212416
Name: 951, dtype: object
country         Mali
continent     Africa
year            1972
lifeExp       39.977
pop          5828158
Name: 952, dtype: object
country         Mali
continent     Africa
year            1977
lifeExp       41.714
pop          6491649
Name: 953, dtype: object
country         Mali
continent     Africa
year            1982
lifeExp       43.916
pop          6998256
Name: 954, dtype: object
country         Mali
continent     Africa
year            1987
lifeExp       46.364
pop          7634008
Name: 955, dtype: object
country         Mali
continent     Africa
year            1992
lifeExp       48.388
pop          8416215
Name: 956, dtype: object
country         Mali
continent     Africa
year            1997
lifeExp       49.903
pop          9384984
Name: 957, dtype: object
country          Mali
continent      Africa
year             2002
lifeExp        51.818
pop          10580176
Name: 958, dtype: object
country          Mali
continent      Africa
year             2007
lifeExp        54.467
pop          12031795
Name: 959, dtype: object
country      Mauritania
continent        Africa
year               1952
lifeExp          40.543
pop             1022556
Name: 960, dtype: object
country      Mauritania
continent        Africa
year               1957
lifeExp          42.338
pop             1076852
Name: 961, dtype: object
country      Mauritania
continent        Africa
year               1962
lifeExp          44.248
pop             1146757
Name: 962, dtype: object
country      Mauritania
continent        Africa
year               1967
lifeExp          46.289
pop             1230542
Name: 963, dtype: object
country      Mauritania
continent        Africa
year               1972
lifeExp          48.437
pop             1332786
Name: 964, dtype: object
country      Mauritania
continent        Africa
year               1977
lifeExp          50.852
pop             1456688
Name: 965, dtype: object
country      Mauritania
continent        Africa
year               1982
lifeExp          53.599
pop             1622136
Name: 966, dtype: object
country      Mauritania
continent        Africa
year               1987
lifeExp          56.145
pop             1841240
Name: 967, dtype: object
country      Mauritania
continent        Africa
year               1992
lifeExp          58.333
pop             2119465
Name: 968, dtype: object
country      Mauritania
continent        Africa
year               1997
lifeExp           60.43
pop             2444741
Name: 969, dtype: object
country      Mauritania
continent        Africa
year               2002
lifeExp          62.247
pop             2828858
Name: 970, dtype: object
country      Mauritania
continent        Africa
year               2007
lifeExp          64.164
pop             3270065
Name: 971, dtype: object
country      Mauritius
continent       Africa
year              1952
lifeExp         50.986
pop             516556
Name: 972, dtype: object
country      Mauritius
continent       Africa
year              1957
lifeExp         58.089
pop             609816
Name: 973, dtype: object
country      Mauritius
continent       Africa
year              1962
lifeExp         60.246
pop             701016
Name: 974, dtype: object
country      Mauritius
continent       Africa
year              1967
lifeExp         61.557
pop             789309
Name: 975, dtype: object
country      Mauritius
continent       Africa
year              1972
lifeExp         62.944
pop             851334
Name: 976, dtype: object
country      Mauritius
continent       Africa
year              1977
lifeExp          64.93
pop             913025
Name: 977, dtype: object
country      Mauritius
continent       Africa
year              1982
lifeExp         66.711
pop             992040
Name: 978, dtype: object
country      Mauritius
continent       Africa
year              1987
lifeExp          68.74
pop            1042663
Name: 979, dtype: object
country      Mauritius
continent       Africa
year              1992
lifeExp         69.745
pop            1096202
Name: 980, dtype: object
country      Mauritius
continent       Africa
year              1997
lifeExp         70.736
pop            1149818
Name: 981, dtype: object
country      Mauritius
continent       Africa
year              2002
lifeExp         71.954
pop            1200206
Name: 982, dtype: object
country      Mauritius
continent       Africa
year              2007
lifeExp         72.801
pop            1250882
Name: 983, dtype: object
country        Mexico
continent    Americas
year             1952
lifeExp        50.789
pop          30144317
Name: 984, dtype: object
country        Mexico
continent    Americas
year             1957
lifeExp         55.19
pop          35015548
Name: 985, dtype: object
country        Mexico
continent    Americas
year             1962
lifeExp        58.299
pop          41121485
Name: 986, dtype: object
country        Mexico
continent    Americas
year             1967
lifeExp         60.11
pop          47995559
Name: 987, dtype: object
country        Mexico
continent    Americas
year             1972
lifeExp        62.361
pop          55984294
Name: 988, dtype: object
country        Mexico
continent    Americas
year             1977
lifeExp        65.032
pop          63759976
Name: 989, dtype: object
country        Mexico
continent    Americas
year             1982
lifeExp        67.405
pop          71640904
Name: 990, dtype: object
country        Mexico
continent    Americas
year             1987
lifeExp        69.498
pop          80122492
Name: 991, dtype: object
country        Mexico
continent    Americas
year             1992
lifeExp        71.455
pop          88111030
Name: 992, dtype: object
country        Mexico
continent    Americas
year             1997
lifeExp         73.67
pop          95895146
Name: 993, dtype: object
country         Mexico
continent     Americas
year              2002
lifeExp         74.902
pop          102479927
Name: 994, dtype: object
country         Mexico
continent     Americas
year              2007
lifeExp         76.195
pop          108700891
Name: 995, dtype: object
country      Mongolia
continent        Asia
year             1952
lifeExp        42.244
pop            800663
Name: 996, dtype: object
country      Mongolia
continent        Asia
year             1957
lifeExp        45.248
pop            882134
Name: 997, dtype: object
country      Mongolia
continent        Asia
year             1962
lifeExp        48.251
pop           1010280
Name: 998, dtype: object
country      Mongolia
continent        Asia
year             1967
lifeExp        51.253
pop           1149500
Name: 999, dtype: object
country      Mongolia
continent        Asia
year             1972
lifeExp        53.754
pop           1320500
Name: 1000, dtype: object
country      Mongolia
continent        Asia
year             1977
lifeExp        55.491
pop           1528000
Name: 1001, dtype: object
country      Mongolia
continent        Asia
year             1982
lifeExp        57.489
pop           1756032
Name: 1002, dtype: object
country      Mongolia
continent        Asia
year             1987
lifeExp        60.222
pop           2015133
Name: 1003, dtype: object
country      Mongolia
continent        Asia
year             1992
lifeExp        61.271
pop           2312802
Name: 1004, dtype: object
country      Mongolia
continent        Asia
year             1997
lifeExp        63.625
pop           2494803
Name: 1005, dtype: object
country      Mongolia
continent        Asia
year             2002
lifeExp        65.033
pop           2674234
Name: 1006, dtype: object
country      Mongolia
continent        Asia
year             2007
lifeExp        66.803
pop           2874127
Name: 1007, dtype: object
country      Montenegro
continent        Europe
year               1952
lifeExp          59.164
pop              413834
Name: 1008, dtype: object
country      Montenegro
continent        Europe
year               1957
lifeExp          61.448
pop              442829
Name: 1009, dtype: object
country      Montenegro
continent        Europe
year               1962
lifeExp          63.728
pop              474528
Name: 1010, dtype: object
country      Montenegro
continent        Europe
year               1967
lifeExp          67.178
pop              501035
Name: 1011, dtype: object
country      Montenegro
continent        Europe
year               1972
lifeExp          70.636
pop              527678
Name: 1012, dtype: object
country      Montenegro
continent        Europe
year               1977
lifeExp          73.066
pop              560073
Name: 1013, dtype: object
country      Montenegro
continent        Europe
year               1982
lifeExp          74.101
pop              562548
Name: 1014, dtype: object
country      Montenegro
continent        Europe
year               1987
lifeExp          74.865
pop              569473
Name: 1015, dtype: object
country      Montenegro
continent        Europe
year               1992
lifeExp          75.435
pop              621621
Name: 1016, dtype: object
country      Montenegro
continent        Europe
year               1997